.App {
  text-align: center;
  background-color: #0F780E;
}

.app-header {
  background-color: #A2131E;
}

.familyPhoto {
  width: 40%
}


.headerContainer {
  display: flex;
  justify-content: space-evenly;
}
.Main {
  background-color: #D6B707;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: inline  ;
}
