.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #FCBA0A, #F5ED6D );
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 0 0 12em;
}


.app-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom:2rem; 
}

.app-header {
  background-image: linear-gradient(to bottom right, #17A5E2, #1780DD);
  top: 0;
  margin-top:-1.5rem;

}

.aside { 
  /* display: block; */
  background-color: black;
  order: -1;
  width: 35rem;
  margin: 0;
  margin-top: 2rem;
  }

.familyPhoto {
  width: 40%
}

.footer{
  padding-top: 1.3rem;
}

.header {
  padding-top: 2rem;
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
}

.Main {
  padding-top:3rem;
  margin-top: 3rem;

}

.Main-container {
  height: 100%;
  margin-top: -4em;
  padding: 2rem;
  margin-bottom:3rem;
}



.navbar-link:hover{
  transform: scale(1.2);
}

.photos {
  margin-bottom: 2rem;
}


h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1rem;

}

h2{
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

h3
{
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;

}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;

}



.Main {
  padding:.5rem;
  margin-left:2rem;
}


.navbar-link {
margin-bottom: 4rem;
}

.Main-containter {
display: flex;
margin-top:-2rem;
}

@media only screen and (max-width: 1000px) {
  h1{
    font-size: 2rem;
  }
  

  h4 {
    font-size: 1rem;
  }
  

  .header {
padding: 2rem;
  }

}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 2rem;
  }
  

  h4 {
    font-size: 1rem;
  }
  

  .header {
padding: 2rem;
  }

  .Main {
    padding:.5rem;
  }

  .familyPhoto:hover {
    transform: scale(1.3);
  }
}