.App {
  text-align: center;
}

.app-header {
  background-color: #17A5E2;
  top: 0;
  margin-top:-1.5rem;

}

.familyPhoto {
  width: 40%
}

.header {
  padding-top: 2rem;
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
}
.Main {
  background-color: #F5ED6D;
  height: 100%;
  margin-top: -1em;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.photos {
  margin-bottom: 2rem;
}


h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1rem;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  letter-spacing: 1em;
  color: white;
  text-decoration: none;

}